<div class="row">
	<!-- <div class="btn-group" role="group" aria-label="..."> -->
		{% for _,action in ipairs(actions) do %}
			<div class="col-sm-3 col-xs-6">
				<a type="button" href="{{action.path}}" class="btn btn-primary btn-block make-modal" data-toggle="modal" data-target="{{action.name}}">
					{{action.label}}
				</a>
			</div>
			
		{% end %}
	<!-- </div> -->
</div>
<div class="row">
	{(html/includes/comptes.html)}
</div>
<div class="row">
	{(html/includes/transactions.html)}
</div>
<div id="modal-container">
	<div class="modal fade" id="modal-template">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Modal title</h4>
				</div>
				<div class="modal-body">
					
				</div>
			</div>
		</div>
	</div>
</div>

{-page_js-}
<script type="text/javascript">
	$(document).ready(function() {
		$(".make-modal").each(function(index, el) {
			var elem_path = "/view" + $(this).attr("href");
			var elem_target = $(this).attr("data-target");
			var title = $(this).text();
			$(this).attr("href", "#");
			$(this).one("click", function() {
				var button = $(this);

				console.log(elem_path);

				$.ajax({
					url: elem_path
				})
				.done(function(data) {
					var template = $("#modal-template").clone();
					template.attr("id", "modal-" + elem_target);
					template.appendTo("#modal-container");

					template.find(".modal-body").html(data);

					var legend = template.find("legend");
					if (legend.length > 0) {
						legend = legend.first();
						title = legend.text();
						legend.remove()
					}
					template.find(".modal-header h4").text(title);

					// template.find("form").on("submit", function(event) {
					// 	event.preventDefault();
					// 	$.post($(this).attr("action"), $(this).serialize(), function(data, textStatus, xhr) {
					// 		/*optional stuff to do after success */
					// 	});
					// });

					template.modal();
					button.click(function() {
						template.modal("show");
					})
				})
				.fail(function() {
					console.log("error");
				})
				.always(function() {
					console.log("complete");
				});
				

				
			})
		});
	});
</script>
{-page_js-}
