<!DOCTYPE html>
<html >
	<head>
		<meta charset="UTF-8">
		<title>Buisson</title>
		<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
		<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css'>
		<link rel='stylesheet' href='static/css/style.css'>
		<link rel="icon" href="static/favicon.png">
	</head>
	<body>
		<div class="jumbotron">
			<div class="container">
				<img src="static/img/logo.svg"/>
				<h3>Faut bien fourrer notre argent quelquepart...</h3>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<h2>Comptes</h2>
				<table class="table">
					<thead>
						<tr>
							<th>ID</th>
							<th>Nom</th>
							<th>Solde</th>
						</tr>
					</thead>
					<tbody>
						{% for _, account in ipairs(accounts) do %}
							<tr>
								<td>{{account.account_id}}</td>
								<td>
									<a href="http://wjdr.la-haute-tour.info/v2/affiche_perso.php?id={{account.account_id}}">
										{{account.account_name}}
									</a>
								</td>
								<td>{{account.account_balance}}</td>
							</tr>
						{% end %}
					</tbody>
				</table>
			</div>
			<div class="row">
				<h2>Transactions</h2>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>ID</th>
							<th>Date</th>
							<th>Source</th>
							<th>Destination</th>
							<th>Montant</th>
							<th>Libellé</th>
						</tr>
					</thead>
					<tbody>
						{% for _, transaction in ipairs(transactions) do %}
							<tr>
								<td>{{transaction.transaction_id}}</td>
								<td>{{transaction.transaction_datetime}}</td>
								<td>{{transaction.transaction_source}}</td>
								<td>{{transaction.transaction_destination}}</td>
								<td>{{transaction.transaction_amount}}</td>
								<td>{{transaction.transaction_label}}</td>
							</tr>
						{% end %}
					</tbody>
				</table>
			</div>
			<div class="row">
				<div class="col-md-6">
					
					<form class="well form-horizontal" action="/api/user" method="post"  id="create_user">
						<fieldset>
							<legend>Créer un compte</legend>
							<div class="form-group">
								<label class="col-md-4 control-label">ID</label>
								<div class="col-md-8 inputGroupContainer">
									<div class="input-group">
										<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
										<input  name="id" placeholder="" class="form-control"  type="text">
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label">Nom</label>
								<div class="col-md-8 inputGroupContainer">
									<div class="input-group">
										<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
										<input  name="name" placeholder="" class="form-control"  type="text">
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label">Solde initial</label>
								<div class="col-md-8 inputGroupContainer">
									<div class="input-group">
										<span class="input-group-addon"><img class="custom-icon" src="static/img/coins.svg"/></i></span>
										<input  name="balance" placeholder="" class="form-control"  type="text">
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label"></label>
								<div class="col-md-8">
									<button type="submit" class="btn btn-warning" ><span class="glyphicon glyphicon-plus"></span> Créer le compte</button>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
				<div class="col-md-6">
					<form class="well form-horizontal" action="/api/transfer" method="post"  id="transfer">
						<fieldset>
							<legend>Transférer de l'argent</legend>
							<div class="form-group">
								<label class="col-md-4 control-label">Compte source</label>
								<div class="col-md-8 selectContainer">
									<div class="input-group">
										<span class="input-group-addon"><i class=" glyphicon glyphicon-arrow-up"></i></span>
										<select name="source" class="form-control selectpicker" >
											<option value="" >Sélectionner un compte source</option>
											{% for _, account in ipairs(accounts) do %}
												<option value="{{account.account_id}}">{{account.account_name}}</option>
											{% end %}
										</select>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label">Compte destination</label>
								<div class="col-md-8 selectContainer">
									<div class="input-group">
										<span class="input-group-addon"><i class=" glyphicon glyphicon-arrow-down"></i></span>
										<select name="destination" class="form-control selectpicker" >
											<option value="" >Sélectionner un compte destination</option>
											{% for _, account in ipairs(accounts) do %}
												<option value="{{account.account_id}}">{{account.account_name}}</option>
											{% end %}
										</select>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label">Montant</label>
								<div class="col-md-8 inputGroupContainer">
									<div class="input-group">
										<span class="input-group-addon"><img class="custom-icon" src="static/img/coins.svg"/></i></span>
										<input  name="amount" placeholder="" class="form-control"  type="text">
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label">Libellé</label>
								<div class="col-md-8 inputGroupContainer">
									<div class="input-group">
										<span class="input-group-addon"><img class="custom-icon" src="static/img/parchment.svg"></i></span>
										<input  name="label" placeholder="" class="form-control"  type="text">
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label"></label>
								<div class="col-md-8">
									<button type="submit" class="btn btn-warning" ><span class="glyphicon glyphicon-send"></span> Transférer</button>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
				<div class="col-md-6">
					<form class="well form-horizontal" action="/api/deposit" method="post"  id="deposit">
						<fieldset>
							<legend>Déposer de l'argent</legend>
							<div class="form-group">
								<label class="col-md-4 control-label">Compte destination</label>
								<div class="col-md-8 selectContainer">
									<div class="input-group">
										<span class="input-group-addon"><i class=" glyphicon glyphicon-arrow-down"></i></span>
										<select name="destination" class="form-control selectpicker" >
											<option value="" >Sélectionner un compte destination</option>
											{% for _, account in ipairs(accounts) do %}
												<option value="{{account.account_id}}">{{account.account_name}}</option>
											{% end %}
										</select>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label">Montant</label>
								<div class="col-md-8 inputGroupContainer">
									<div class="input-group">
										<span class="input-group-addon"><img class="custom-icon" src="static/img/coins.svg"/></i></span>
										<input  name="amount" placeholder="" class="form-control"  type="text">
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label">Libellé</label>
								<div class="col-md-8 inputGroupContainer">
									<div class="input-group">
										<span class="input-group-addon"><img class="custom-icon" src="static/img/parchment.svg"></i></span>
										<input  name="label" placeholder="" class="form-control"  type="text">
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label"></label>
								<div class="col-md-8">
									<button type="submit" class="btn btn-warning" ><span class=" glyphicon glyphicon-arrow-down"></span> Déposer</button>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
				<div class="col-md-6">
					<form class="well form-horizontal" action="/api/withdraw" method="post"  id="withdraw">
						<fieldset>
							<legend>Retirer de l'argent</legend>
							<div class="form-group">
								<label class="col-md-4 control-label">Compte source</label>
								<div class="col-md-8 selectContainer">
									<div class="input-group">
										<span class="input-group-addon"><i class=" glyphicon glyphicon-arrow-up"></i></span>
										<select name="source" class="form-control selectpicker" >
											<option value="" >Sélectionner un compte source</option>
											{% for _, account in ipairs(accounts) do %}
												<option value="{{account.account_id}}">{{account.account_name}}</option>
											{% end %}
										</select>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label">Montant</label>
								<div class="col-md-8 inputGroupContainer">
									<div class="input-group">
										<span class="input-group-addon"><img class="custom-icon" src="static/img/coins.svg"/></i></span>
										<input  name="amount" placeholder="" class="form-control"  type="text">
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label">Libellé</label>
								<div class="col-md-8 inputGroupContainer">
									<div class="input-group">
										<span class="input-group-addon"><img class="custom-icon" src="static/img/parchment.svg"></i></span>
										<input  name="label" placeholder="" class="form-control"  type="text">
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label"></label>
								<div class="col-md-8">
									<button type="submit" class="btn btn-warning" ><span class=" glyphicon glyphicon-arrow-up"></span> Retirer</button>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
			</div><!-- /.container -->
		</body>
	</html>